:root {
    --text-color: #f5f5f5;
    --background-color: #263343;
    --background-color2: #f5f5f5;
    --accent-color: #d49466;
    --accent-color2: #263343;
    --shadow-color: #263343;
    --search-color: #F6C863;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Source Sans Pro';
}

body {
    background: var(--background-color2);
}

.view {
    width: 100%;
    height: 200px;
    position:relative;
         z-index:2;
}

.wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    margin-top: 50px;
}

.wrapper
.search_box {
    width: 1100px;
    background: var(--background-color);
    height: 60px;
    border-radius: 4px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px var(--shadow-color);
}

.wrapper
.search_box
.dropdown
{
    width: 150px;
    position: relative;
    cursor: pointer;
    margin-left: 30px;
}

.wrapper
.search_box
.dropdown2
{
    width: 150px;
    position: relative;
    position: relative;
    cursor: pointer;
}

.wrapper
.search_box
.dropdown3
{
    width: 150px;
    position: relative;
    cursor: pointer;
    margin-right: 50px;
}

.wrapper
.search_box
.dropdown
.default_option {
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
    user-select: none;
}

.wrapper
.search_box
.dropdown2
.default_option2 {
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
    user-select: none;
}

.wrapper
.search_box
.dropdown3
.default_option3 {
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 14px;
    user-select: none;
}

.wrapper
.search_box
.dropdown
ul {
      
}

.wrapper
.search_box
.dropdown2
ul {
    
}

.wrapper
.search_box
.dropdown3
ul {
    
}

.wrapper
.search_box
.dropdown
ul li {
   padding-bottom: 5px;
     user-select: none;
}

.wrapper
.search_box
.dropdown2
ul li {
    padding-bottom: 5px;
    user-select: none;
}

.wrapper
.search_box
.dropdown3
ul li {
    padding-bottom: 5px;
    user-select: none;
}

.wrapper
.search_box
.dropdown
ul li:last-child {
    padding-bottom: 0;
}

.wrapper
.search_box
.dropdown2
ul li:last-child {
    padding-bottom: 0;
}

.wrapper
.search_box
.dropdown3
ul li:last-child {
    padding-bottom: 0;
}

.wrapper
.search_box
.dropdown
ul li:hover {
    color: var(--shadow-color);
}

.wrapper
.search_box
.dropdown2
ul li:hover {
    color: var(--shadow-color);
}

.wrapper
.search_box
.dropdown3
ul li:hover {
    color: var(--shadow-color);
}

.wrapper
.search_box
.dropdown:before {
     position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: var(--shadow-color) transparent transparent transparent;
}

.wrapper
.search_box
.dropdown2:before {
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: var(--shadow-color) transparent transparent transparent;
}

.wrapper
.search_box
.dropdown3:before {
    
    position: absolute;
    top: 18px;
    right: 20px;
    border: 8px solid;
    border-color: var(--shadow-color) transparent transparent transparent;
    
}

.wrapper
.search_box
.search_field {
    width: 500px;
    height: 100%;
    position: relative;
}

.wrapper
.search_box
.search_field
.input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 40px;
    color: var(--accent-color2);
    
    border-radius: 4px;
}

.wrapper
.search_box
.search_field
.fas {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: var(--accent-color2);
    cursor: pointer;
}





.animals {
    width: 1200px;
}

.animals 
li {
    width:400px;
    height: 500px;
    border: 1px solid var(--background-color);
    border-radius: 10px;
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
}

.animals
li:hover {
    border: 3px solid var(--accent-color);
}

.animals
dl {
    padding: 400px 0 0 0;
}

.animals
dt {
    padding: 10px 10px 15px;
    border-top: 1px solid var(--background-color);
}

.animals
.img {
    position: absolute;
   
    left: 0;
    top: 0;
    float: center;
}





::-webkit-input-placeholder {
    color: var(--accent-color2);
}

::-moz-input-placeholder {
    color: var(--accent-color2);
}

::-ms-input-placeholder {
    color: var(--accent-color2);
}











html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet


.row-mb-2 {
    margin-left: 50px;
    margin-right: 50px;
}




<!-- final_datail.jsp -->
.container {
   position: relative;
}

.container
.image {
   position: absolute;
}

.h2 {
   
}